/.bundle/
.DS_Store
/.yardoc
/_yardoc/
/coverage/
/pkg/
*.gem
/spec/reports/
/tmp/
.idea
**/.DS_Store
**/target/
**/tmp/
**/*.bundle
**/config/credentials.local.yml
.rubocop_cache/
.claude/worktrees/
